/* -------NAVIGATION------- */
nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: rgb(255, 255, 255);
    padding: 10px 10px;

}

nav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    border-radius: 10px;
    padding: 5px 5px;
}

.navbar {
    width: 100%;

}





/* -------BODY BASE------- */
html {
    background-color: #74a394aa;
}






/* -------BODY------- */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container {
    border: 3px solid rgb(72, 65, 57);
    border-radius: 10px;
    padding: 10px;
    max-width: 850px;
    margin: auto;
}




/* -------PARAGRAPH------- */
p {
    color: rgb(31, 32, 47);
    max-width: 800px;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 50px;
}

.highlight {
    color: orange;
}
            /* will need to wrap like so: <span class="highlight">theWord</span> */

.code-box {
    background-color: rgb(65, 64, 64);
    padding: 7px;
    border-radius: 5px;
    text-wrap: nowrap;
    overflow: auto;
    max-width: 600px;
    display: block;
    margin: auto;
}

.code-box code {
    color: rgb(228, 140, 8);
}

.links {
    color: rgb(255, 255, 255);
}

.links:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    border-radius: 10px;
    padding: 8px 10px;
}

.comment {
    color: white;
}