/* -------NAVIGATION------- */
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: fixed;
    top: 5px;
    background-color: bisque;
}

nav a {
    padding: 10px 10px;
    margin-bottom: 20px;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 238);
    border-radius: 10px;
    padding: 5px 5px;
}





/* for the drop down */
.dropbtn{
    padding: 16px;
    font-size: 16;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(78, 78, 78);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(74, 74, 74);
}





/* -------BODY BASE------- */
html {
    background-color: rgba(0, 0, 0, 0.891);
}






/* -------BODY------- */
.topic-title {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 3em;
    font-weight: bolder;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 4px solid rgb(0, 0, 0);
    border-top: 4px solid rgb(0, 0, 0);;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container {
    border-radius: 10px;
    padding: 10px;
    max-width: 850px;
    margin: auto;
}




/* -------PARAGRAPH------- */
.sub-topic {
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: .1px;
    padding-left: 10px;
}

p {
    color: beige;
    max-width: 800px;
    margin: auto;
    display: block;
    margin-top: 10px;
    font-family: monospace;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.para-block {
    border-bottom: 3px solid rgb(0, 0, 0);
    border-top: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 30px;

}

.margin-top {
    margin-top: 30px;
}

.highlight {
    color: orange;
}
            /* will need to wrap like so: <span class="highlight">theWord</span> */

.code-box {
    background-color: rgba(0, 0, 0, 0.511);
    padding: 7px;
    border-radius: 5px;
    text-wrap: nowrap;
    overflow: auto;
    max-width: 600px;
    display: block;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.code-box code {
    color: rgb(228, 140, 8);
}

.links {
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.links:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 238);
    border-radius: 10px;
    padding: 8px 10px;
}


.comment {
    color: white;
}