{% extends "base.html" %} {% block title %} Composition {% endblock %} {% block
body %}
<div class="pageBody">
    <div class="backButton">
		<a class="backButtonHover" href="{{ url_for("oop") }}">&lt; Back to OOP</a>
	</div>
	<div class="bodyDiv">
	<h1 class="h1Title">Composition</h1>
	<p class="pText">
		Composition is a design principle in OOP where a class (the "composite"
		or "parent") is made up of other classes (the "components" or
		"children"). It represents a "part-of" relationship and is a strong form
		of aggregation.
	</p>
	<div class="paraBreak">
	<h2 class="h2Title">Key Points</h2>
		<h3 class="h3Title">Definition</h3>
		<p class="pExplain">
			Composition is a relationship where one class (The composite)
			contains an instance of another class (the component). The component
			is part of the composite. For example, a Car might have an Engine.
			The car is the whole entity, and the engine is part of the car.
		</p>
		<h3 class="h3Title">Dependence</h3>
		<p class="pExplain">
			In a composition relationship, the component cannot exist
			independently of the composite. If the composite is deleted, the
			component is also deleted. For example, if you deleted a Car object,
			the Engine object is also deleted because it's part of the car.
		</p>
		<h3 class="h3Title">Lifecycle</h3>
		<p class="pExplain">
			The lifecycle of the component is managed by the composite. the
			component is created when the composite is created, and deleted when
			the composite is deleted.
		</p>
		<h3 class="h3Title">Direction</h3>
		<p class="pExplain">
			Composition is typically an one-way relationship. The composite
			knows about the component, but the component does not know about the
			composite.
		</p>
	</div>
	<div class="paraBreak">
		<h2 class="h2Title">
			Example of Composition In Python
		</h2>
		<pre
			class="codeBox"
		>
<code class="language-python">
class Engine:
    def __init__(self, type):
        self.type = type

class Car:
    def __init__(self, model, engine_type):
        self.model = model
        self.engine - Engine(engine_type) # the Car creates an Engine

car = Car("Toyota", "V8")   # create a Car instance with an Engine
</code>
</pre>
		<p class="pText">
			In this example, the [ Car ] class has a composition relationship
			with the [ Engine ] class. The [ Car ] creates an [ Engine ] when
			it's created, so the [ Engine ] is part of the [ Car ] and can't
			exist independently.
		</p>
		<p class="pSummary">
			The key difference between this example and the example dealing with
			aggregation lies in the lifecycle and dependency of the [ Engine ]
			object with respect to the [ Car ] object.
		</p>
	</div>
	<div class="paraBreak">
		<h3 class="h3Title">In Aggregation:</h3>
		<pre
			class="codeBox"
		>
<code class="language-python">
class Engine:
    def __init__(self, type):
        self.type = type

class Car:
    def __init__(self, model, engine):
        self.model = model
        self.engine = engine    # the Car has an Engine

engine = Engine("V8")           # create an Engine instance

car = Car("Toyota", engine)     # create a Car instance with the Engine
</code>
</pre>
		<p>
			The engine instance is created independently of the [ Car ]
			instance. The [ Car ] instance then takes an existing [ Engine ]
			instance as a parameter. This means the [ Engine ] can exist without
			the [ Car ], and if the [ Car ] is deleted, the [ Engine ] continues
			to exist. This is a characteristic of aggregation.
		</p>
	</div>
	<div class="paraBreak">
		<h3 class="h3Title">In Composition:</h3>
		<pre
			class="codeBox"
		>
<code class="language-python">
class Engine:
    def __init__(self, type):
        self.type = type

class Car:
    def __init__(self, model, engine_type):
        self.model = model
        self.engine = Engine(engine_type)   # the Car creates and Engine

car = Car("Toyota", "V8")       # create a Car instance with an Engine
</code>
</pre>
		<p class="pText">
			The [ Car ] instance creates its own [ Engine ] instance when it's
			constructed. The instance cannot exist without the [ Car ] instance,
			and if the [ Car ] is deleted, the [ Engine ] is also deleted. This
			is a characteristic of composition.
		</p>
		<p class="pText">
			So, the main difference is about the dependency and lifecycle of the
			[ Engine ] with respect to the [ Car ]. In aggregation, the [ Engine
			] can exist independently, while in composition, the [ Engine ] is
			fully dependent on the [ Car ].
		</p>
	</div>
</div>
{% endblock %}
