{% extends "base.html" %} 

{% block title %}
Topics 
{% endblock %} 

{% block body %}
<div class="pageBody">
    <div class="backButton">
		<a class="backButtonHover" href="{{ url_for("home") }}">&lt; Back Home</a>
	</div>
    <div class="bodyDiv">
<h1 class="h1Title">Let's get to it</h1>
<div b>
<h2 class="h2Title">Topics</h2>
<ul>
    <li>
        <a href="{{ url_for("oop") }}" class="mt-5 block group">
            <div>
                <h3 class="h3Link">Object-Oriented Programming</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="{{ url_for("oop") }}" class="mt-5 block group">
            <div>
                <h3 class="h3Link">Algorithms</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="{{ url_for("oop") }}" class="mt-5 block group">
            <div>
                <h3 class="h3Link">Data Structures</h3>
            </div>
        </a>
    </li>
</ul>
</div>
</div>
</div>
{% endblock %}